.container__page--info {
  background-image: url("https://fotografias.lasexta.com/clipping/cmsimages01/2022/06/13/FC6E7DC4-9B04-4345-8F16-F4FA08B981B8/inteligencia-artificial_98.jpg?crop=4000,2251,x0,y0&width=1900&height=1069&optimize=high&format=webply");
  background-repeat: no-repeat;

  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;

  h2,
  p {
    width: 588px;
    height: 133px;
  }

  h2,
  h1 {
    color: #ffc107;
  }
  p {
    color: #fff;
  }
}
.title__home {
  padding-top: 9vh;
}

.pyramid-text {
  margin-top: 12vh;
}

.section__text--firt {
  margin-left: 80px;
}

.container__HomeSection--two {
  background-color: #f7b114;
  min-height: 90vh;
}

.container__HomeSection--three {
  min-height: 90vh;
}

.btn__home {
  background-color: #f7b114;
  color: #fff;
  padding: 0.7em;
}

@media (max-width: 800px) {
  .container__page--info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: auto;

    .section__text--firt {
      h2,
      p {
        margin-bottom: 70px;
      }
    }
    h1 {
      margin-top: 22px;
    }
    h1,
    p {
      width: 378px;
      height: 83px;
    }

    h2 {
      width: 378px;
      height: 103px;
    }
  }
}
