.container__try {
  background-image: url("https://as01.epimg.net/diarioas/imagenes/2020/07/30/actualidad/1596099304_781508_1596099506_noticia_normal.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;

  .container__select--file {
    background-color: #fff;
    border-radius: 32px;
    height: 29vh;
    width: 28vw;
  }
  .btn__file {
    width: 8vw;
  }
}
