.container__try {
  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

  .container__select--file {
    background-color: #fff;
    border-radius: 32px;
    height: 29vh;
    width: 28vw;
  }
  .btn__file {
    width: 8vw;
  }
}
